p{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
}

a{
  text-decoration: none;
  color: rgb(71, 182, 247);
  font-weight: 600;
}

.App{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.main_container{
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_container{
  /* border: 1px solid black; */
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header{
  /* border: 1px solid black; */
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  
}
.title_container{
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid red; */
  justify-content: center;
}

.get_started{
  width: fit-content;
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  font-size: medium;
  color: white;
  background-color: rgb(110, 207, 240);
  margin-top: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.middle_container{
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: lightgray;
}
.middle_header{
  /* border: 1px solid red; */
  width: 50%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.middle_title_container{
  display: flex;
  flex-direction: column;
  width: 43%;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black; */
}

.bottom_container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 30px 0px;
}

@media only screen and (max-width: 600px) {
  .middle_header{
    width: 100%;
    justify-content: center;
  }
  .middle_title_container{
    width: 100%;
  }

  .logo_container{
    width: 100%;
  }

  .profile_card{
    margin-bottom: 20px;
  }

  .header{
    justify-content: center;
  }
}